.searchPage {
  width: 980px;
  min-height: 725px;
  max-height: 100vh;
  margin: auto;
  background-color: #05121C;
  color: #fff;
  padding-top: 20px;
  .searchContent {
    width: 720px;
    margin: 0 auto;
    min-height: calc(100% - 75px);
  }
  .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom: none;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #EC4141;
  }
  .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar {
    background-color: #EC4141;
    height: 2px;
  }
}